<section class="section">

<h2 id="dachgeschoss">Das Dachgeschoss</h2>
{% assign prefix = "dg-" %}
<ul class="gallery" id="{{prefix}}links">
{% assign image_files = site.static_files | where: "image", true %}
{% for image in image_files %}
  {% if image.name contains prefix %}
    <li class="gallery__item">
      <a href="{{ site.baseurl }}{{ image.path | replace: "small", "large" }}" title="{{ image.name }}">
        <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name }}" />
      </a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<p>Über die Massivholzmittelholmtreppe gelangt man ins Dachgeschoss. Hier geht es vom Flur ab in die beiden Kinderzimmer, das Bad und das Studio. Das Dachgeschoss ist mit zwei Dachgauben ausgestattet und stellt inkl. Loggia über 85m² Wohnfläche auf 125m² Grundfläche bereit. Vom Flur gelangt man mit Hilfe einer Auszugleiter in den Speicher, der im höchsten Punkt knapp 1.80m misst.</p>

<h3>Studio</h3>
<p>Das Studio ist wohl der schönste Raum im Haus. Zumindest sagen alle die zum ersten mal hinein kommen «Wow». Von hier aus blickt man durch das große Panoramafenster auf die große Loggia, den Garten und die große Wiese. Über eine Schiebetür gelangt man auf die über 20m² große Loggia. Insgesamt eine glatte 1+ mit Sternchen.</p>

<h3>Kinderzimmer</h3>
<p>Die beiden Kinderzimmer stellen jeweils etwa 15m² Wohnfläche auf 19m² Grundfläche bereit. Durch die Dachschräge sind sie gemütlich und praktisch zugleich. Und sie sind gleich groß, so dass es wegen ungleicher Größe schon mal keinen Streit zwischen den Kleinen geben kann.</p>

<h3>Bad</h3>
<p>Auch dieses Bad ist komplett saniert und mit einer Dusche, einem Waschtisch und einer Badewanne ausgestattet.</p>

</section>