<section class="section herotext">
<h2 id="daten">Zahlen, Daten, Fakten</h2>

<h3>Haus & Grundstück</h3>
<table>
  <tr>
    <th>Fläche Grundstück</th><td>733m²</td>
  </tr>
  <tr>
    <th>Wohnfläche Erdgeschoss</th><td>97m²</td>
  </tr>
  <tr>
    <th>Wohnfläche Dachgeschoss</th><td>88m²</td>
  </tr>
  <tr>
    <th>Fenster</th><td>Doppelverglaste Holzfenster</td>
  </tr>
  <tr>
    <th>Heizung</th><td>Gaszentralheizung</td>
  </tr>
  <tr>
    <th>Baujahr</th><td>1974</td>
  </tr>
  <tr>
    <th>Sanierung</th><td>2020/21</td>
  </tr>
  <tr>
    <th>Download</th><td><a href="./images/plaene-sw.pdf"><i class="icon">file_download</i>Pläne als PDF</a></td>
  </tr>
</table>

<h3>Konditionen</h3>
<table>
  <tr>
    <th>Bezugsfertig</th><td>sofort</td>
  </tr>
  <tr>
    <th>Mietpreis pro m²</th><td>7€</td>
  </tr>
  <tr>
    <th>Kaltmiete pro Monat</th><td>1.300€</td>
  </tr>
  <tr>
    <th>Nebenkosten pro Monat</th><td>ca. 250€</td>
  </tr>
  <tfoot>
  <tr>
    <th>Gesamtmiete pro Monat</th><td>1.550€</td>
  </tr>
  </tfoot>
</table>

<h3>Nebenkosten</h3>
<table>
  <tr>
    <th>Trinkwasser (schätzwert)</th><td>380,00€</td><!-- 1.83 pro kubikliter // 150l -->
  </tr>
  <tr>
    <th>Schmutzwassergebühren (schätzwert)</th><td>460,00€</td><!--4.33 pro Kubiklitter -->
  </tr>
  <tr>
    <th>Grundsteuer B</th><td>772,57€</td>
  </tr>
  <tr>
    <th>Straßenreinigungsgebühr, Kehr- und Winterdienst</th><td>49,20€</td>
  </tr>
  <tr>
    <th>Niederschlagswassergebühr</th><td>231,00€</td>
  </tr>
  <tr>
    <th>120 Liter Restmühlbehälter</th><td>193,56€</td>
  </tr>
  <tr>
    <th>240 Liter Biomüllbehälter</th><td>179,40€</td>
  </tr>
  <tr>
    <th>240 Liter Altpapierbehälter</th><td>0,00€</td>
  </tr>
  <tr>
    <th>Gebäudeversicherung</th><td>755,24€</td>
  </tr>
  <tr>
    <th>Gesamt pro Jahr</th><td>3020,97€</td>
  </tr>
  <tr>
    <th>Gesamt pro Monat</th><td>251,75€</td>
  </tr>
</table>


</section>