<section class="section">

<h2 id="keller">Das Kellergeschoss</h2>

<p>Vom Erdgeschoss gelangt man über eine Treppe in den Keller. Unter der Treppe befindet sich ein praktischer Einbauschrank. Das Kellergeschoss stellt einen Heizungskeller, einen ehemaligen Ölkeller, eine Waschküche, den Zugang zur Garage und einen zusätzlichen Raum, der derzeit als Bar ausgebaut ist, bereit. Der ehemalige Ölkeller ist komplett nutzbar. Die Raumhöhe im Keller beträgt, wie im übrigen Haus auch, 2.40m. Somit sind alle Kellerräume vollständig nutzbar.</p>

</section>