<section class="section">

<h2 id="lage">Lage</h2>

<p>Das Haus liegt in einem Vorort von <a class="extern" href="https://www.stadt-bergneustadt.de/">Bergneustadt</a>, knappe 20 Fahrminuten von Gummersbach, 50 Fahrminuten von Köln und 60 Fahrminuten von Dortmund entfernt. Es liegt in einem recht alten Wohngebiet. Um in den Ort zu gelangen, braucht man 10 Minuten zu Fuß oder 4 Minuten mit dem Skateboard. Zurück dauert es länger, denn es geht hübsch bergauf. Downtown finden sich Geschäfte für die Dinge des täglichen Bedarfs und ein wenig mehr. </p>

</section>