## Links und Material

- [How to: Boulderwand bauen](https://www.outdoor-magazin.com/klettern/how-to-eigene-boulderwand-bauen/)
- [Mehr als nur Rauhfasertapete – Tipps zum Eigenbau einer Kletterwand](https://www.bergfreunde.de/basislager/mehr-als-nur-raufasertapete-tipps-zum-eigenbau-einer-boulderwand/)
- [Deine Kletterwand oder Boulderwand selber bauen - die wichtigsten Tipps und Fragen.](https://www.klettergriffe-holz.de/informationen/kletterwand-selber-bauen/)


- [Einschlagmuttern](https://www.kletterbude.de/kletterwandbau-befestigung/einschlagmutter-u-a?ReferrerID=7&utm_source=shopping&utm_medium=cpc&gclid=CjwKCAjw55-HBhAHEiwARMCszkZlJR6QoX3vjPxB_W9vfQk3Zu0udxUCc9InHugsjgaJ0PUt6wrYjhoCTvkQAvD_BwE)
- [Kletterpaneelen](https://www.kletterwandshop.eu/produkt-kategorie/kletteranlagen/kletterpaneelen/)
- [Klettergriffe](https://www.bergfreunde.de/klettergriffe/)
- [Zylinderschrauben](https://schrauben-expert.de/Zylinderschraube-DIN-912-M-10-x-60-mm-Stahl-109-galv-verzinkt)