<section class="section">
<h2 id="wiese">Die große Wiese</h2>

<p>Die zukünftigen Mieter sollten auf jeden Fall mit einem guten Ausblick klar kommen, denn der ist hier definitiv gegeben. Das wirklich gut geschnittene Haus steht auf einem <strong>733m² großen Grundstück</strong>, welches direkt an eine wirklich <strong>grooooße und unverbaute Wiese</strong> angrenzt. Auf der anderen Seite liegt die <strong>Anliegerstraße</strong>, es folgt eine Reihe mit Einfamilienhäuseren und dahinter liegen nur noch Wiesen und Wälder. Ein echtes Paradies für Kinder. Ich kann es bestätigen, denn ich bin selbst dort aufgewachsen. Damals wurde die Wiese noch als Pferdewiese genutzt. Jetzt ist sie gemäht, direkt zugänglich und mit ein paar Kletterbäumen ausgestattet. </p>

<p>Wer keine Freude an der Sonne und <strong>hellen Räumen</strong> hat, sollte ab hier nicht mehr weiter lesen. Das <strong>Haus ist nach Süden</strong> ausgerichtet, so dass man in der Küche, im Wohnzimmer, im Studio und an der angrenzenden großen Terrasse, bzw. Loggia den ganzen Tag Sonne hat.</p>

</section>