<section class="section index">
<h2>Inhalt</h2>
<ul class="toc">
  <li class="toc__item"><a href="#lage">Lage</a></li>
  <li class="toc__item"><a href="#wiese">Die große Wiese</a></li>
  <li class="toc__item"><a href="#erdgeschoss">Erdgeschoss</a></li>
  <li class="toc__item"><a href="#dachgeschoss">Dachgeschoss</a></li>
  <li class="toc__item"><a href="#keller">Keller</a></li>
  <li class="toc__item"><a href="#zustand">Zustand</a></li>
  <li class="toc__item"><a href="#daten">Zahlen, Daten, Fakten</a></li>
  <li class="toc__item"><a href="#kontakt">Kontakt</a></li>
</ul>

</section>