<section class="section">

<h2 id="zustand">Zustand</h2>

<p>Im Zuge der Sanierung wurden folgende Arbeiten ausgeführt:</p>

<h3>Wände & Böden</h3>
<p>Alle Tapeten und alle Teppichböden wurden entfernt. Die Wände und Decken sind jetzt glatt weiß gespachtelt und gestrichen. Im Eingangsbereich, den Bädern und der Abstellkammer liegen dunkle, große Fließen. Alle anderen Böden sind mit einem wunderschönen Eichenpakett ausgelegt. Der Flur im Keller ist mit Laminat ausgelegt worden. Selbiges hat das gleiche Dekor wie die Echtholzböden. Als Fußleisten kommen weiß lackierte Echthölzer zum Einsatz.</p>

<h3>Heizkörper & Jalousien</h3>
<p>Alle Heizkörper wurden ausgetauscht. In dem Zuge wurden die Heizkörpernischen zugemauert, um Wärmeverlust zu vermeiden. Alle Jalousienkästen wurden gedämmt und die Jalousie im Studio wurde erneuert und elektifiziert.</p>

<h3>Fenster, Türen & Details</h3>
<p>Die Holzfenster wurden überarbeitet und neu lasiert. Die Türen und Türrahmen wurden geschliffen, ausgebessert und in Licht- bzw. Steingrau lackiert. Alle Türen im Wohnbereich sind mit dem <a class="extern" href="https://www.fsb.de/de/produkte/sortiment/mod.jsp?a=mo00h&m=eu">Modell 1021 von Hewi</a> beschlagen. Ich denke da gibt es nix zu meckern :)</p>

<p>Alle Lichtschalter wurden erneuert. Hier kommt die <a class="extern" href="https://www.merten.de/produkte/schalterprogramme/system-m/m-smart.html">M smart Serie von Merten in mattweiß</a> zum Einsatz.</p>

<p>Die Flure sind mit schlichten, flachen, weißen LED Leuchten mit warmweißem Licht ausgestattet. Die Bäder verfügen bereits über Spiegelschränke und andere Accessoires, so dass man direkt einziehen kann.</p>

</section>